// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fc-event {
  border: 1px solid #f3a002;
  background-color: #f3a002;
}

.calendar {
  display: inline-block;
  float: left;
  width: 70%;
}

.sidebar {
  float: right;
  width: 25%;
  padding: 2%;
}